<mat-card *ngFor="let user of users">
    <mat-card-content>
        <mat-card-title>
            <h1>{{user.firstname}} {{user.lastname}}</h1>
        </mat-card-title>
        <mat-card-content>
            <p>E-mail : {{user.email}}</p>
            <p>Telephone : {{user.phone_number}}</p>
            <p>Adresse : {{user.address}}</p>
            <p>Admin : {{user.is_admin}}</p>
        </mat-card-content>
        <mat-card-footer>
            <button class="footer" mat-raised-button color="primary" (click)="delete(user.id)">Supprimer</button>
        </mat-card-footer>
    </mat-card-content>
</mat-card>