<header>
    <button class="createUser" mat-button (click)="openDialog()">Créer un utilisateur</button>
</header>

<mat-card *ngFor="let user of users">
    <mat-card-content>
        <mat-card-title>
            <h1>{{user.firstname}} {{user.lastname}}</h1>
        </mat-card-title>
        <mat-card-content>
            <p>E-mail : {{user.email}}</p>
            <p>Telephone : {{user.tel}}</p>
            <p>Adresse : {{user.adresse}}</p>
            <p>Panier : {{user.cart}}</p>
        </mat-card-content>
        <mat-card-footer>
            <button class="footer" mat-raised-button color="primary">Supprimer</button>
        </mat-card-footer>
    </mat-card-content>
</mat-card>