<nav class="navbar navbar-expand-lg">
    <div class="header-home">
        <a class="nav-link" routerLink="/" *ngIf="!isAdmin">Accueil</a>
        <a class="nav-link" routerLink="/board-admin" *ngIf="isAdmin">Accueil</a>
    </div>
    <div class="header-title">FANTAZOO</div>

    <!-- <a routerLink="/board-admin">
        <button>board-admin</button>
    </a> -->

    <a routerLink="/cart" *ngIf="isConnected && !isAdmin">
        <span class="material-icons">
            shopping_basket
        </span>
    </a>

    <a routerLink="/register" *ngIf="!isConnected">
        <span class="material-icons">
            login
        </span>
    </a>
    <a (click)="logOut()" *ngIf="isConnected">
        <span class="material-icons">
            logout
        </span>
    </a>
</nav>