mat-dialog-content{
    align-items: center;
    text-align: center;
    div{
        margin: 5%;
    }
}

button{
    background-color: #58a4b0ff !important;
    color: aliceblue;
}

.annuler{
    border-color: #58a4b0ff !important;
    background-color: aliceblue !important;
    color: #58a4b0ff;
}

.creer{
    background-color: #58a4b0ff !important;
    color: aliceblue;
}