<header>
    <h1>
        PANIER
    </h1>

    <div class="button">
        <button mat-button (click)="openDialog()">Passer la commande</button>
    </div>
</header>


<div class="mat-elevation-z8" style="width: 94%; margin: auto">
  <mat-card>
    <mat-card-content class="cart-list-title">
      <p>Nom</p>
      <p>Prix</p>
      <p></p>
    </mat-card-content>
  </mat-card>
  <mat-spinner *ngIf="isLoading" mode="indeterminate" class="spinner"></mat-spinner>
    <div>
      <mat-card *ngFor="let product of products, let i = index">
        <mat-card-content class="cart-list-item">
          <p>{{product.animal_name}}</p>
          <p>{{product.price}} €</p>
          <a (click)="deleteItem(product.productID)">
            <span class="material-icons">
              delete
            </span>
          </a>
        </mat-card-content>
      </mat-card>
    </div>
</div>