h1{
    position: block;
    text-align: left;
    font-size: 5em;
    margin-top: 3%;
    margin-left: 3%;
}

button{
    background-color: #58a4b0ff !important;
    margin-bottom: 3%;
    margin-right: 3%;
    color: aliceblue;
}

.button{
    text-align: end;
}

table{
    position: fixed;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}