<header>
    <h1>
        PANIER
    </h1>

    <div>
        <button mat-button (click)="openDialog()">Passer la commande</button>
    </div>
</header>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.dataSource.userID}} </td>
      </ng-container>
  
      <ng-container matColumnDef="quantite">
        <th mat-header-cell *matHeaderCellDef> Quantité </th>
        <td mat-cell *matCellDef="let element"> {{element.quantite}} </td>
      </ng-container>
  
      <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef> Prix </th>
        <td mat-cell *matCellDef="let element"> {{element.prix}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> {{element.action}} </td>
      </ng-container>    
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>