h1{
    position: block;
    text-align: left;
    font-size: 5em;
    margin-top: 3%;
    margin-left: 3%;
}

button{
    background-color: #58a4b0ff !important;
    margin-bottom: 3%;
    margin-right: 3%;
    color: aliceblue;
}

.button{
    text-align: end;
}

.cart-list-title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.cart-list-item {
    display: flex;
    justify-content: space-between;
}

a:hover {
    cursor: pointer;
}

mat-spinner{
    margin-left: 47.5%;
}