<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

<body>
            <mat-card *ngFor="let animal of animals">
                <a routerLink="/animals/{{animal.id}}">
                    <img mat-card-image alt="" [src]="animal.image">
                </a>
                <mat-card-content>
                    <mat-card-title>
                        <h1>{{animal.animal_name}}</h1>
                    </mat-card-title>
                    <mat-card-content>
                        <p>{{animal.description}}</p>
                    </mat-card-content>
                </mat-card-content>
                <mat-card-footer>
                    <button>
                        <span class="material-icons">
                            heart_broken
                        </span>
                    </button>
                </mat-card-footer>
            </mat-card>
</body>

</html>