<header>
    <button class="createAnimal" mat-button (click)="openDialog()">Créer un animal</button>
</header>

            <mat-card *ngFor="let animal of animals">
                <a routerLink="/animals/{{animal.id}}">
                    <img mat-card-image alt="" [src]="animal.image">
                </a>
                <mat-card-content>
                    <mat-card-title>
                        <h1>{{animal.animal_name}}</h1>
                    </mat-card-title>
                    <mat-card-content>
                        <p>{{animal.description}}</p>
                    </mat-card-content>
                </mat-card-content>
                <mat-card-footer>
                    <button (click)="delete(animal.id)">
                        <span class="material-icons">
                            heart_broken
                        </span>
                    </button>
                </mat-card-footer>
            </mat-card>