mat-card{
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr;
    width: 25%;
    margin-top: 20px;
    margin-left: 6%;
    margin-bottom: 20px;
    background-size: cover;
}

.createAnimal{
    position: block;
    margin: 3%;
    background-color: #58a4b0ff !important;
    color: aliceblue;
}

a{
    text-decoration: none;
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
        margin: auto;
    }
}

button {
    border: none;
    background: none;
    margin-left: 42%;
}

@media screen and (max-width: 768px) {
    mat-card{
        width: 100%;
        margin: 0;
    }
}

