<div class="container">
    <div class="sub-container" *ngIf="animal">
        <div class="id-title">
            <p class="name">{{animal.animal_name}}</p>
        </div>
        <div class="id-title">
            <p class="species">
                {{animal.species}}
            </p>
        </div>
        <div>
            <button mat-button (click)="addToCart()">Ajouter au panier</button>
        </div>
    </div>
    <div class="sub-container" *ngIf="animal">
        <div class="description">
            {{animal.description}}
        </div>
    </div>
    <div class="sub-container" *ngIf="animal">
        <img src="{{animal.image}}" alt="Image de l'animal">
    </div>
    <div class="sub-container cards" *ngIf="animal">
        <mat-card class="card p-2">
            <mat-card-content>
                <span class="material-icons">cake</span>
                <span class="text"> {{animal.age}} ans</span>
            </mat-card-content>
        </mat-card>
        <mat-card class="card p-2">
            <mat-card-content>
                <span class="material-icons" *ngIf="animal.sexe == 'F'">female</span>
                <span class="material-icons" *ngIf="animal.sexe == 'M'">male</span>
                <span class="text"> {{sexe}} </span>
            </mat-card-content>
        </mat-card>
        <mat-card class="card p-2">
            <mat-card-content>
                <span class="material-icons">flatware</span>
                <span class="text"> {{animal.diet}}</span>
            </mat-card-content>
        </mat-card>
        <mat-card class="card p-2">
            <mat-card-content>
                <span class="material-icons">euro</span>
                <span class="text"> {{animal.price}}</span>
            </mat-card-content>
        </mat-card>
        <mat-card class="card p-2">
            <mat-card-content>
                <span class="material-icons" *ngIf="animal.animal_status == 'A VENDRE'" style="color: green">check</span>
                <span class="material-icons" *ngIf="animal.animal_status == 'VENDU'" style="color: red">close</span>
                <span class="text" *ngIf="animal.animal_status == 'A VENDRE'" style="color: green"> Disponible</span>
                <span class="text" *ngIf="animal.animal_status == 'VENDU'" style="color: red"> Vendu</span>
            </mat-card-content>
        </mat-card>
    </div>
</div>
