.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // height: 80%;

    .sub-container {
    display: block;
    justify-content: center;
    width: 50%;
    padding: 20px;
    margin: auto;
    text-align: center;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .id-title {
        width: 100%;
        margin: auto;
        text-align: center;
        // height: 50%;
        position: relative;

        .name {
            font-size: 5em;
            font-weight: bold;
        }
        
        .species {
            margin-top: 50px;
            font-size: 3em;
            font-weight: bold;
        }
    }

    .description {
        font-size: 2em;
        line-height: normal;
        width: 90%;
        text-align: justify;
        margin: auto;
        margin-top: 40px;
    }
    }

    .sub-container.cards {
        background-color: #373F51;
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        mat-card {
            width: 50%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #373F51;
            color: white;
            text-align: center;
            font-size: 2em;
            font-weight: bold;
            border: none;
            box-shadow: none;
            
            span {
                color: white;
                font-size: 2em;
            }

            .text {
                font-weight: normal;
            }
        }
    }
}

@media screen and (max-width: 1280px)
{
    /* Rédigez vos propriétés CSS ici */
    .container {
        display: block;

        .sub-container {
            width: 100%;

            .card {
                width: 100%;
            }

            .id-title {
                .name {
                    margin-top: 50px;
                    font-size: 3em;
                }
                .species {
                    margin-top: 20px;
                    font-size: 2em;
                }
            }

            .description {
                font-size: larger;
            }
        }

        .sub-container.cards {
            width: 100%;
            display: block;

            mat-card {
                width: 100%;
            }
        }
    
    }
}