/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Amatic SC" }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


$gainsboro: #d8dbe2ff;
$light-steel-blue: #a9bcd0ff;
$cadet-blue: #58a4b0ff;
$charcoal: #373f51ff;
$eerie-black: #1b1b1eff;